.education{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #333;
  padding: 1rem;
  border-radius: 1rem;
}
.education > .education-title{
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.education > .education-content{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.education > .education-content > button{
  border: none;
  background: transparent;
  padding: 0.5rem;
  color: #ddd;
  cursor: pointer;
}
.education > .education-content > .school{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.education > .education-content > .school > button{
  border:none;
  background: transparent;
  color: #ddd;
  padding: 0.5rem;
  cursor: pointer;
}
.education-content > .add-education--form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 0.5rem;
}
.education-content > .add-education--form > .btns{
  display: flex;
  justify-content: flex-end;
  padding-block: 0.5rem;
  gap: 0.5rem;
}
.education-content > .add-education--form label{
  cursor: pointer;
}
.education-content > .add-education--form > .btns > button{
  background: #444;
  color: #ddd;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}